@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  -o-filter: blur(4px);
    filter: blur(4px);
  

  /* animation: blurr 40s  3s infinite; */
  
}

.video-front{width: 100%;
   height:100%
   ; position: absolute;
    top: 0; left: 0;}



.container{
    display: block;
    align-items: center;
    text-align: center;
    
  }

.wrapper{
  padding-top: 40vh;
  animation-duration: 3s;
  animation-name: logo;
  display: flex;
  flex-direction: column;
}

.footer{
    background: #fff;
    width: 100%;
    max-width: 100%;
    /* height: 40px; */
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}
.logo{
  flex:1;  
}
.name{
  flex:1;
}


h1{
  color :#73C2FB;
  font-family: 'Montserrat', sans-serif;
  /* animation-duration:5s; */
  animation: clr 5s infinite;
 
}

.container img{
  
}

#topic{
  opacity: 0;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}



/* Animation sliding */
@keyframes logo{
  from{
    padding-top: 0vh;}
    50%{
     transform: scale(2);
    } 
  to{
    padding-top: 40vh;
  }
}



/* Color Animation */

@keyframes clr{
  from{
    color :#73C2FB;
  }
  0%{
    color: #111E6C;
  }
  10%{
    color: #1D2951;
  }
  20%{
    color:#003152 ;
  }
  30%{
    color: #000080;
  }
  40%{
    color: #0E4D92;
  }
    50%{
   color: #1034A6;
    } 
    60%{
      color:#0080FF ;
    }
    70%{
      color: #0F52BA;
    }  
    80%{
      color: #008ECC;
    }
    90%{
      color:#6593F5 ;
    }
  to{
    color :#73C2FB;
  }
}



/* If to Blur video  */


@keyframes blurr {
  from{
    -o-filter: blur(0px);
    filter: blur(0px);
  }
  to{
    -o-filter: blur(15px);
    filter: blur(15px);
  }

}
